body{
    background-color: #a34d42  ;
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    text-align: center;
    font-weight: 600;
    color:#FFCB05 ;
    padding: 1px;
    text-shadow: 2px 2px .5px #3B4CCA; 
    
}

.imagemDoPokemon{
    width: 20%;
    text-align: center;
}

.conteudo_imagem{
    text-align: center;
    margin: 2rem 0;
}

.container_input{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}
#campo_adivinha_pokemon{
    padding: .5rem 12rem;
    display: flex;
    justify-content: center;
    border-radius: 12px;
    border: 0.1px solid;
}

#campo_adivinha_pokemon::placeholder{
    text-align: center;
}

.adivinhacao{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#pontos{
    margin-top: 1rem;
    padding: 1.5rem 0;
    font-size: 2rem;
    border-radius: 2rem;
    color: #FFCB05;
}

.conteinerInput{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.enviaPokemon{
    width: 100%;
    border-radius: 1rem;
    padding: 12px 9rem;
    background-color: #F6D63F;
    border: 0.1px solid;
    font-size: 16px;
    color: #293cc5;
    font-weight: 600;
    box-shadow: 1.5px 1.5px 1.5px 1.5px #888888;
}

.enviaPokemon:hover{
    font-size: 17px;
}

@media screen and (max-width: 580px) {
    #campo_adivinha_pokemon{
        padding: .5rem 6rem;
    }
    .enviaPokemon{
        padding: 12px 6rem;
    }

    .imagemDoPokemon{
        width: 100%;
        text-align: center;
    }
    
}

@media screen and (max-width: 380px) {
    #campo_adivinha_pokemon{
        padding: .5rem 4rem;
    }
    .enviaPokemon{
        padding: 12px 3rem;
    }
    
    .imagemDoPokemon{
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 300px) {
    #campo_adivinha_pokemon{
        padding: .5rem 2rem;
    }
    .enviaPokemon{
        padding: 12px 1.5rem;
    }
    
    .imagemDoPokemon{
        width: 100%;
        text-align: center;
    }
}