@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}


.icone_cabecalho{
    margin-left: .8rem;
}

.cabecalho{
    display: flex;
    background-color: red;
    align-items: center;
    justify-content: space-between;
}

.ajuste_cabecalho{
    margin-right: 4rem;
}

.lista_cabecalho{
    display: flex;
    gap: 4rem;
    justify-content: end;
    padding-right: 4rem;
    padding: 1rem;
    text-align: center;
    
}

a{
    text-decoration: none;
    color: #F6D63F;
}

.lista_item_cabecalho{
    list-style-type: none; 
    
}

@media screen and (max-width: 440px){
    .icone_cabecalho{
        display: none;
    }

    .lista_cabecalho{
        justify-content: center;
        text-align: end;
        margin-left: ;
    }

}